---
import MainLayout from "../layouts/MainLayout.astro";

const { slug } = Astro.params;

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.

const gqlq = {
	query: `{
			post(id: "${slug}", idType: SLUG) {
				content
				slug
				title	
				blog {
					heroAfbeeldinghero {
						sourceUrl
						altText
					}
					description
				}
			}
		}`,
};

const response = await fetch("https://cvking.brooklynwebdesign.nl/graphql", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(gqlq),
});

const pos = await response.json();
console.log(pos);
---

<MainLayout
	title={pos.data.post.title}
	description={pos.data.post.blog.description}
>
	<!-- <img class="logo" src="/0x0.png" alt="" transition:name="image-e">` -->
	<div class="hero-container">
		<img
			src={pos.data.post.blog.heroAfbeeldinghero.sourceUrl}
			alt={pos.data.post.blog.heroAfbeeldinghero.altText}
		/>
	</div>

	<section set:html={pos.data.post.content} class="content-container" />
</MainLayout>

<style>
	.hero-container img {
		width: 100%;
	}

	.content-container {
		position: relative;
		max-width: 1000px;
		margin: -50px auto 100px;
		background-color: #fff;
		z-index: 2;
		padding: 50px;
		box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.23);
	}

	@media only screen and (max-width: 720px) {
		.content-container {
			position: relative;
			max-width: 1000px;
			margin: -50px auto 35px;
			background-color: #fff;
			z-index: 2;
			padding: 50px 24px;
			box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.23);
		}
	}
</style>
